

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.newStyle{
        color: #F8373B;
        background-color: #FAFFCE;
        text-align: center;
        font-family: 'Cambria, "Hoefler Text", "liberation serif", Times, "Times New Roman", serif';
        border: 1px solid black;
}
#animated{
        position: absolute;
        left: 10px;
        top: 100px;
        padding: 50px;
        background: crimson;
        color: white;
}













